@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (var item in Model)
{
    @*<tr><td>@item.ServiceName</td><td>@item.Name</td><td>@item.Surname</td></tr>*@
    @item.ServiceName
    @item.Name
    @item.NumberMaster
}
