@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <p>Number</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

@*@foreach (var s in Model)
{

    <td>@s.NameService</td>
    <td>@s.ShortDesc</td>
    <td>@s.Price</td>
    <br />
}*@

<table class="table">
    <tr><td>Название услуги</td><td>Имя</td><td>Фамилия</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.ServiceName</td><td>@item.Name</td><td>@item.Surname</td></tr>
    }
</table>

<a asp-controller="Home" asp-action="Order">Записаться на услугу</a>
