@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <head>
      <title> BIZService </title>

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
@if (User.Identity.IsAuthenticated)
{
    <div class="AuthorizedName">
    <p>@User.Identity.Name</p>
    <a href="~/Personnel">Личный кабинет</a>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    </div>

    <style>
        .AuthorizedName
        {
        position:absolute;
        right:30px
        }
    </style>


}
else
{
    <a asp-controller="Account" asp-action="Login" class="buttonauntef">Вход</a>
   
}

@*@foreach (var s in Model)
{

    <td>@s.NameService</td>
    <td>@s.ShortDesc</td>
    <td>@s.Price</td>
    <br />
}*@
@*
<table class="table">
    <tr><td>Название услуги</td><td>Имя</td><td>Фамилия</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.ServiceName</td><td>@item.Name</td><td>@item.Surname</td></tr>
    }
</table>*@

  


  <body>


      <div class="imgf">

          <img src="https://sun9-48.userapi.com/impg/x4ZOmnYGzKDQLjqjouvmSPmmoho8wqi7uWh7ZQ/wKzlGMqL0H0.jpg?size=1224x594&quality=96&sign=af44a11bcdf84865e4a0c1e8c7b096cb&type=album"  >

      </div>
     
      
<div class="main-content-1">  


<div class="main-auto">
<h1> Ремонт автомобилей всех марок</h1>
</div>

<div class="modelsauto">


   <div class="list1m">
   <div class="nissan"> 
      <img src="https://sun9-33.userapi.com/impg/DAYeF1Z9fSCUZe7Zc81zf67UjR6OoZZSMPqciA/h2JepY6Ki6c.jpg?size=160x90&quality=96&sign=0cb999599a6f4f3c8ca70ffe49a53bfc&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-1.userapi.com/impg/XWnMMpXUzHJcnigHv0u5wJqt6i9pwSgYBN00dQ/1KNVnU65rFg.jpg?size=160x90&quality=96&sign=4b2d63568a4cf3d071be53e9fca94261&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-10.userapi.com/impg/jizXg9BshHheNm5rztZXSlxo0fQXblfvn36pMQ/dYPJWFrfbWM.jpg?size=160x90&quality=96&sign=6010eb4abd99a28f72ac63b0d5d5ca77&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-79.userapi.com/impg/xrenNIoH6drxzd61tV6Ci8AdQHH-fCLQhT0ttA/BpMFTdRTZy8.jpg?size=160x90&quality=96&sign=1395ba12137a554454bc41783db0c5fb&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-52.userapi.com/impg/TpYpBasaD8npw92HNV5XKa01V9lezFJ86HBKiQ/UMBNDYfmZJE.jpg?size=160x90&quality=96&sign=c89a814e3f0dbd574703f14a8b4cb309&type=album" width="100%"
      height="100$">
   </div>




   </div>


<div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-88.userapi.com/impg/U6IPNVt_VoxdCidgBLNWMJnPutjqTW9g7vvRxg/hddnaFlShAc.jpg?size=160x90&quality=96&sign=93727354ef424733a7c690a2a4640ca6&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-61.userapi.com/impg/LzHTqZVVXvanZbfB6cgeqW3CZG9pPp338SjUZg/rjTV39_KAms.jpg?size=160x90&quality=96&sign=e380be6bc54da53b00769eb1bf72479e&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-76.userapi.com/impg/nNFbKM9qY6MGYcAbXL58xw38MQqShSBowGyBDQ/nFnZSs4sd9Q.jpg?size=160x90&quality=96&sign=a2e885a36d621e0effd0cbe8af607529&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-42.userapi.com/impg/WLEMxQYNfPP-mpg36dObIgluZ-KThY9vtNa_rg/4eAcF7pk-gU.jpg?size=160x90&quality=96&sign=d9e9b391b1c0e0a7190b3832e40fb5aa&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-19.userapi.com/impg/ze24miKprqIFZCfxNNnU61VrsWYkgySe_DZJ9g/doYU2sYW2IU.jpg?size=160x90&quality=96&sign=dbedd75e83549d1baa387fec0a7fad0d&type=album" width="100%"
      height="100$">
   </div>


   </div>
   <div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-86.userapi.com/impg/JY95P7vz57aCBKEDdLrz_ZiM06gjV1uR71REuA/zh3msFCHQXo.jpg?size=160x90&quality=96&sign=fa59903b753d59d5c1d40c81a51fe0bb&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-52.userapi.com/impg/3LXmp8Im8Jbe8vIqx88jOiYl1fzSDKO5r7n-ug/rbqzzWfUmZ0.jpg?size=160x90&quality=96&sign=12faa83b80e26855638d17a9daab1588&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-9.userapi.com/impg/fzs5hMOSBsm_I0VifMDKSC3EHdv_410gea1KKw/f-r-aHth5Fg.jpg?size=160x90&quality=96&sign=226ed092438d04387f99c1349d28af17&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-3.userapi.com/impg/nrFs9jmQ1paW_neL2NgezrAkjhG9SKt0ruTyjw/73nWDDHKubQ.jpg?size=160x90&quality=96&sign=964977e620b98fccf02026e6975e8b69&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan"> 
      <img src="https://sun9-69.userapi.com/impg/eDL8GpKDyuPDtNMvQx0aT4yapcRHwI86hMgHJg/JLydO0oXvug.jpg?size=160x90&quality=96&sign=c483effb56dfbc6224f6f84e50860149&type=album" width="100%"
      height="100$">
   </div>



   </div>
<div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-47.userapi.com/impg/fpxCkYlK6ZlXu6LDknfBCU3v5y4TSf32smqj2w/Uz1w4gtA2h4.jpg?size=160x90&quality=96&sign=6533c2c841612d988f037958dd8f9a37&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-1.userapi.com/impg/LwONe15pN4cZImPc1nDdMdlmW9hXJt52vQmQQw/_oqRVIuSAho.jpg?size=160x90&quality=96&sign=8ad4dd6de37de6501ce1fcb0969f0faa&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-82.userapi.com/impg/6Ry6HkQd2vk0tHSqh9x1OLBqeah0Ip8k3gNOaQ/n6VndkIyQQ4.jpg?size=160x90&quality=96&sign=4526dc4a92de369b9b0907a144ed0df6&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-9.userapi.com/impg/zyw26Q7eVnQLnfe1nWgd6gACLi-pp9MHHDNAKA/7O3eW6LVQ4U.jpg?size=160x90&quality=96&sign=06537844583ec9f52461dd38d2df1405&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan"> 
      <img src="https://sun9-47.userapi.com/impg/zZTzj_v5sCRz6T2fkG2QYk09fmnk6SjPR16cxA/nsiWgdrjL7s.jpg?size=160x90&quality=96&sign=f174663ec6fa770c3dc62568b54dfbdf&type=album" width="100%"
      height="100%">
   </div>



</div>

    </div>
</div>
<hr>

<div class="main-content-2">  

<div class="main-uslugi">
   
   <h1> Услуги сервиса</h1>
   <div class="main-uslugi-dop">
   <h4> Мы вам предлагаем</h4>
</div>
</div>
<div class="spisokuslug">
<ul class="list3a">
    <li>Работы с двигателем</li>
    <li>Замена жидкостей</li>
    <li>Слесарный ремонт</li>
    <li>3d сход-развал</li>
    <li>Замена фильтров</li>   
<div class="list2">
    <li>Кузовной ремонт и покраска</li>
    
    <li>Шиномонтаж</li>
    <li>Обслуживание электрооборудования</li>
    <li>Кондиционеры и отопления</li>
    <li>Элемент списка</li>  

    </div>
    <div class="list3"> 
    <li>Диагностика</li>
    <li>Сварка дисков</li>
    <li>Аргонная сварка</li>
    <li>Техосмотр с выдачей диагностической карты</li>
    <li>Прочие услуги</li>  
 </div>
</ul>

</li>
</ul>
<div class="Zapis"> 
<a asp-controller="Home" asp-action="Order">Записаться на услугу</a>

  </div>
  

</div>
</div>
</div>


   

<div class="main-content-3">
 
    
<div class="main-otizivi">  <h1>Отзывы клиентов </h1></div>
<div class="slider"> 
 <div id="contentContainer">
    <div id="wrapper">











<div id="itemOne" class="content"> 


   <div class="topplace"> 
<div class="nameotziv1"> Артур </div>
<div class="dateotziv1"> 05.12.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
   Для меня, как для новичка в деле поездок по сервисам, очень важно детальное разъяснение специалистов о той или иной услуге. В этом сервисе я нашла для себя все: и качество, и доброжелательность, и желание помочь , а не просто навариться на клиентах!


</div>





</div>
        </div>


        <div id="itemTwo" class="content"> 


         <div class="topplace"> 
<div class="nameotziv1"> Ева </div>
<div class="dateotziv1"> 22.08.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
   Я всем советую только вас.
Отличный автосервис, где есть, во-первых, всё необходимое для ремонта, что очень замечательно, ведь во многих местах необходимо с собой привозить, а тут всё-всё всегда есть.
Во-вторых, очень ответственные профессионалы, мастера на все руки.
Респект ребята, продолжайте в том же духе, вы молодцы.
В-третьих, у них очень приемлемые цены за их прекрасную работу на совесть.
Огромное спасибо вам за такой автосервис, за таких ребят.


</div>





</div>


        </div>
        <div id="itemThree" class="content"> 

              <div class="topplace"> 
<div class="nameotziv1"> Рустэм </div>
<div class="dateotziv1"> 22.08.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
  Очень доволен выполненной работой.
Добрый вечер. Обратился сегодня в данную компанию по причине неисправности автомобиля Ваз 21093. Очень старенькая машинка, многие автосервисы отказывались от диагностики и ремонта, в связи с тем, что работают только с иномарками. Огромное спасибо за сервис, буду рекомендовать вас своим друзьям.


</div>





</div>


        </div>
        <div id="itemFour" class="content"> 
  <div class="topplace"> 
<div class="nameotziv1"> Анастасия</div>
<div class="dateotziv1"> 05.06.2021</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
  Мастер Марат просто красавчик, большое ему спасибо.
Отличный сервис. Как-то ремонтировала трещину на лобовом стекле, мастер предложил отполировать фары у моей машинки, согласилась. Сказать, что я была потом удивлена, это всё равно, что ничего не сказать. Фары стали как новые, светят теперь, будто у меня корабельный прожектор, а не фары. А я раньше мучались с лампочками, думала, что они плохо светят.


</div>





</div>
        </div>
    </div>
</div>
<div id="navLinks">
    <ul>
        <li class="itemLinks" data-pos="0px"></li>
        <li class="itemLinks" data-pos="-550px"></li>
        <li class="itemLinks" data-pos="-1100px"></li>
        <li class="itemLinks" data-pos="-1650px"></li>
    </ul>
</div>
<script type="text/javascript">
   
   // просто запрашиваем DOM... будто просим разрешение у босса!
var links = document.querySelectorAll(".itemLinks");
var wrapper = document.querySelector("#wrapper");

// activeLink обеспечивает метку для активного элемента
var activeLink = 0;

// устанавливаем отслеживание событий
for (var i = 0; i < links.length; i++) {
    var link = links[i];
    link.addEventListener('click', setClickedItem, false);

    // определяем элемент для activeLink
    link.itemID = i;
}

// устанавливаем первый элемент в качестве активного
links[activeLink].classList.add("active");

function setClickedItem(e) {
    removeActiveLinks();

    var clickedLink = e.target;
    activeLink = clickedLink.itemID;

    changePosition(clickedLink);
}

function removeActiveLinks() {
    for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
    }
}

// Обработчик изменяет позицию слайдера, после того, как мы убедились,
// что в качестве активной обозначена нужная нам ссылка.
function changePosition(link) {
    link.classList.add("active");

    var position = link.getAttribute("data-pos");
    wrapper.style.left = position;
}
</script>
</div>









   </div>

  
<div class="main-content-4">
   <div class="main-profile">
  <h1> Почему клиенты выбирают нас ?</h1>

</div>





<div class="block1">  
<h1 class="number1"> 01</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>

<div class="block2">  
<h1 class="number1"> 02</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>

<div class="block3">  
<h1 class="number1"> 03</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>
</div>







  </body>


@*
    

<body>




<div class="fpicture">

<img src="https://sun9-48.userapi.com/impg/x4ZOmnYGzKDQLjqjouvmSPmmoho8wqi7uWh7ZQ/wKzlGMqL0H0.jpg?size=1224x594&quality=96&sign=af44a11bcdf84865e4a0c1e8c7b096cb&type=album"  >
</div>

<div class="main-content-1">  





<div class="main-auto">
<h1> Ремонт автомобилей всех марок</h1>
</div>

</div>


<div class="main-content-2">  

<div class="main-uslugi">
   
   <h1> Услуги сервиса</h1>
   <div class="main-uslugi-dop">
   <h4> Мы вам предлагаем</h4>
</div>
</div>
<div class="spisokuslug">
<ul class="list3a">
    <li>Работы с двигателем</li>
    <li>Замена жидкостей</li>
    <li>Слесарный ремонт</li>
    <li>3d сход-развал</li>
    <li>Замена фильтров</li>   
<div class="list2">
    <li>Кузовной ремонт и покраска</li>
    
    <li>Шиномонтаж</li>
    <li>Обслуживание электрооборудования</li>
    <li>Кондиционеры и отопления</li>
    <li>Элемент списка</li>  

    </div>
    <div class="list3"> 
    <li>Диагностика</li>
    <li>Сварка дисков</li>
    <li>Аргонная сварка</li>
    <li>Техосмотр с выдачей диагностической карты</li>
    <li>Прочие услуги</li>  
 </div>
</ul>

</li>
</ul>
</div>


   

<div class="Zapis"> 
<a asp-controller="Home" asp-action="Order">Записаться на услугу</a>
  </div>
  <style>
      .Zapis{
          margin-right:20px;
          color: orange;
      }
</style>




</div>
</div>
</div>



<div class="main-content-3">

<div class="modelsauto">


   <div class="list1m">
   <div class="nissan"> 
      <img src="https://sun9-33.userapi.com/impg/DAYeF1Z9fSCUZe7Zc81zf67UjR6OoZZSMPqciA/h2JepY6Ki6c.jpg?size=160x90&quality=96&sign=0cb999599a6f4f3c8ca70ffe49a53bfc&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-1.userapi.com/impg/XWnMMpXUzHJcnigHv0u5wJqt6i9pwSgYBN00dQ/1KNVnU65rFg.jpg?size=160x90&quality=96&sign=4b2d63568a4cf3d071be53e9fca94261&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-10.userapi.com/impg/jizXg9BshHheNm5rztZXSlxo0fQXblfvn36pMQ/dYPJWFrfbWM.jpg?size=160x90&quality=96&sign=6010eb4abd99a28f72ac63b0d5d5ca77&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-79.userapi.com/impg/xrenNIoH6drxzd61tV6Ci8AdQHH-fCLQhT0ttA/BpMFTdRTZy8.jpg?size=160x90&quality=96&sign=1395ba12137a554454bc41783db0c5fb&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-52.userapi.com/impg/TpYpBasaD8npw92HNV5XKa01V9lezFJ86HBKiQ/UMBNDYfmZJE.jpg?size=160x90&quality=96&sign=c89a814e3f0dbd574703f14a8b4cb309&type=album" width="100%"
      height="100$">
   </div>




   </div>


<div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-88.userapi.com/impg/U6IPNVt_VoxdCidgBLNWMJnPutjqTW9g7vvRxg/hddnaFlShAc.jpg?size=160x90&quality=96&sign=93727354ef424733a7c690a2a4640ca6&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-61.userapi.com/impg/LzHTqZVVXvanZbfB6cgeqW3CZG9pPp338SjUZg/rjTV39_KAms.jpg?size=160x90&quality=96&sign=e380be6bc54da53b00769eb1bf72479e&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-76.userapi.com/impg/nNFbKM9qY6MGYcAbXL58xw38MQqShSBowGyBDQ/nFnZSs4sd9Q.jpg?size=160x90&quality=96&sign=a2e885a36d621e0effd0cbe8af607529&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-42.userapi.com/impg/WLEMxQYNfPP-mpg36dObIgluZ-KThY9vtNa_rg/4eAcF7pk-gU.jpg?size=160x90&quality=96&sign=d9e9b391b1c0e0a7190b3832e40fb5aa&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-19.userapi.com/impg/ze24miKprqIFZCfxNNnU61VrsWYkgySe_DZJ9g/doYU2sYW2IU.jpg?size=160x90&quality=96&sign=dbedd75e83549d1baa387fec0a7fad0d&type=album" width="100%"
      height="100$">
   </div>


   </div>
   <div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-86.userapi.com/impg/JY95P7vz57aCBKEDdLrz_ZiM06gjV1uR71REuA/zh3msFCHQXo.jpg?size=160x90&quality=96&sign=fa59903b753d59d5c1d40c81a51fe0bb&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-52.userapi.com/impg/3LXmp8Im8Jbe8vIqx88jOiYl1fzSDKO5r7n-ug/rbqzzWfUmZ0.jpg?size=160x90&quality=96&sign=12faa83b80e26855638d17a9daab1588&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-9.userapi.com/impg/fzs5hMOSBsm_I0VifMDKSC3EHdv_410gea1KKw/f-r-aHth5Fg.jpg?size=160x90&quality=96&sign=226ed092438d04387f99c1349d28af17&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-3.userapi.com/impg/nrFs9jmQ1paW_neL2NgezrAkjhG9SKt0ruTyjw/73nWDDHKubQ.jpg?size=160x90&quality=96&sign=964977e620b98fccf02026e6975e8b69&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan"> 
      <img src="https://sun9-69.userapi.com/impg/eDL8GpKDyuPDtNMvQx0aT4yapcRHwI86hMgHJg/JLydO0oXvug.jpg?size=160x90&quality=96&sign=c483effb56dfbc6224f6f84e50860149&type=album" width="100%"
      height="100$">
   </div>



   </div>
<div class="list2m">
   <div class="nissan"> 
      <img src="https://sun9-47.userapi.com/impg/fpxCkYlK6ZlXu6LDknfBCU3v5y4TSf32smqj2w/Uz1w4gtA2h4.jpg?size=160x90&quality=96&sign=6533c2c841612d988f037958dd8f9a37&type=album" width="100%" 
      height="100%">

   </div>

   <div class="nissan">
      <img src="https://sun9-1.userapi.com/impg/LwONe15pN4cZImPc1nDdMdlmW9hXJt52vQmQQw/_oqRVIuSAho.jpg?size=160x90&quality=96&sign=8ad4dd6de37de6501ce1fcb0969f0faa&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-82.userapi.com/impg/6Ry6HkQd2vk0tHSqh9x1OLBqeah0Ip8k3gNOaQ/n6VndkIyQQ4.jpg?size=160x90&quality=96&sign=4526dc4a92de369b9b0907a144ed0df6&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan">
      <img src="https://sun9-9.userapi.com/impg/zyw26Q7eVnQLnfe1nWgd6gACLi-pp9MHHDNAKA/7O3eW6LVQ4U.jpg?size=160x90&quality=96&sign=06537844583ec9f52461dd38d2df1405&type=album" width="100%"
      height="100$">
   </div>

   <div class="nissan"> 
      <img src="https://sun9-47.userapi.com/impg/zZTzj_v5sCRz6T2fkG2QYk09fmnk6SjPR16cxA/nsiWgdrjL7s.jpg?size=160x90&quality=96&sign=f174663ec6fa770c3dc62568b54dfbdf&type=album" width="100%"
      height="100$">
   </div>



</div>

    </div>

<div class="main-otizivi">  <h1>Отзывы клиентов </h1></div>
<div class="slider"> 
 <div id="contentContainer">
    <div id="wrapper">











<div id="itemOne" class="content"> 


   <div class="topplace"> 
<div class="nameotziv1"> Артур </div>
<div class="dateotziv1"> 05.12.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
   Для меня, как для новичка в деле поездок по сервисам, очень важно детальное разъяснение специалистов о той или иной услуге. В этом сервисе я нашла для себя все: и качество, и доброжелательность, и желание помочь , а не просто навариться на клиентах!


</div>





</div>
        </div>


        <div id="itemTwo" class="content"> 


         <div class="topplace"> 
<div class="nameotziv1"> Ева </div>
<div class="dateotziv1"> 22.08.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
   Я всем советую только вас.
Отличный автосервис, где есть, во-первых, всё необходимое для ремонта, что очень замечательно, ведь во многих местах необходимо с собой привозить, а тут всё-всё всегда есть.
Во-вторых, очень ответственные профессионалы, мастера на все руки.
Респект ребята, продолжайте в том же духе, вы молодцы.
В-третьих, у них очень приемлемые цены за их прекрасную работу на совесть.
Огромное спасибо вам за такой автосервис, за таких ребят.


</div>





</div>


        </div>
        <div id="itemThree" class="content"> 

              <div class="topplace"> 
<div class="nameotziv1"> Рустэм </div>
<div class="dateotziv1"> 22.08.2022</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
  Очень доволен выполненной работой.
Добрый вечер. Обратился сегодня в данную компанию по причине неисправности автомобиля Ваз 21093. Очень старенькая машинка, многие автосервисы отказывались от диагностики и ремонта, в связи с тем, что работают только с иномарками. Огромное спасибо за сервис, буду рекомендовать вас своим друзьям.


</div>





</div>


        </div>
        <div id="itemFour" class="content"> 
  <div class="topplace"> 
<div class="nameotziv1"> Анастасия</div>
<div class="dateotziv1"> 05.06.2021</div>
</div>
<div class="contentotziv1"> 
<div class="otziv1">
  Мастер Марат просто красавчик, большое ему спасибо.
Отличный сервис. Как-то ремонтировала трещину на лобовом стекле, мастер предложил отполировать фары у моей машинки, согласилась. Сказать, что я была потом удивлена, это всё равно, что ничего не сказать. Фары стали как новые, светят теперь, будто у меня корабельный прожектор, а не фары. А я раньше мучались с лампочками, думала, что они плохо светят.


</div>





</div>
        </div>
    </div>
</div>
<div id="navLinks">
    <ul>
        <li class="itemLinks" data-pos="0px"></li>
        <li class="itemLinks" data-pos="-550px"></li>
        <li class="itemLinks" data-pos="-1100px"></li>
        <li class="itemLinks" data-pos="-1650px"></li>
    </ul>
</div>
<script type="text/javascript">
   
   // просто запрашиваем DOM... будто просим разрешение у босса!
var links = document.querySelectorAll(".itemLinks");
var wrapper = document.querySelector("#wrapper");

// activeLink обеспечивает метку для активного элемента
var activeLink = 0;

// устанавливаем отслеживание событий
for (var i = 0; i < links.length; i++) {
    var link = links[i];
    link.addEventListener('click', setClickedItem, false);

    // определяем элемент для activeLink
    link.itemID = i;
}

// устанавливаем первый элемент в качестве активного
links[activeLink].classList.add("active");

function setClickedItem(e) {
    removeActiveLinks();

    var clickedLink = e.target;
    activeLink = clickedLink.itemID;

    changePosition(clickedLink);
}

function removeActiveLinks() {
    for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
    }
}

// Обработчик изменяет позицию слайдера, после того, как мы убедились,
// что в качестве активной обозначена нужная нам ссылка.
function changePosition(link) {
    link.classList.add("active");

    var position = link.getAttribute("data-pos");
    wrapper.style.left = position;
}
</script>
</div>









   </div>



<div class="main-content-4">
   <div class="main-profile">
  <h1> Почему клиенты выбирают нас ?</h1>

</div>




<div class="block1">  
<h1 class="number1"> 01</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>

<div class="block2">  
<h1 class="number1"> 02</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>

<div class="block3">  
<h1 class="number1"> 03</h1>

<h3 class="textg"> Полный спектр услуг</h3>


<h4 class="texth"> Профессиональный ремонт легковых авто всех марок</h4>

</div>
</div>

</body>*@
