@model BIZService.Models.Order

@{
    ViewBag.Title = "Добавление пользователя";
}
@using (Html.BeginForm())
{
    <h2 class="maintextt">Оформление заказа</h2>

    <div class="main1">

        <h2 class="main1txt"> Ознакомтесь с спектром услуг </h2>
  
        <div class="benapromisun">
  <form>
  <select>
  <option>Выхлопная система</option>
  <option>Замена катализатора</option>
  <option>Замена резонатора</option>
  <option>Ремонт катализаторов</option>
  <option>Сварка глушителя</option>  
  <option>Ремонт лямбда зонда</option>
  <option>Удаление сажевого фильтра</option>
  </select>
  </form>
</div>

<div class="benapromisun">
  <form>
  <select>
  <option>Двигатель</option>
  <option>Замена бензинового двигателя</option>
  <option>Замена маслосъемных колпачков</option>
  <option>Промывка форсунок</option>
  <option>Ремонт двигателя</option>
  </select>
  </form>
</div>

<div class="benapromisun">
  <form>
  <select>
  <option>Диагностика автомобиля</option>
  <option>Диагностика DSG</option>
  <option>Диагностика эбу</option>
  <option>Диагностика стартера</option>
  <option>Диагностика подвески</option>
   <option>Диагностика автомобиля</option>
  <option>Диагностика дизельного двигателя</option>
  <option>Диагностика ГРМ</option>

  </select>
  </form>
</div>

<div class="benapromisun">
  <form>
  <select>
  <option>Кузовной ремонт и покраска</option>
  <option>Аэрография</option>
  <option>Замена заднего бампера</option>
  <option>Кузовной ремонт</option>
  <option>Ремонт зеркала</option>
  </select>
  </form>
</div>

<div class="benapromisun">
  <form>
  <select>
  <option>Техническое обслуживание</option>
  <option>Антикоррозийная обработка</option>
  <option>Замена помпы</option>
  <option>Замена сажевого фильтра</option>
  <option>Замена топливного фильтра</option>
    <option>Замена помпы</option>
  <option>Замена свечей накаливания</option>
  <option>Предпродажная подготовка</option>
  </select>
  </form>
</div>





    </div>

    <div class="main2">
       
        <div class="main21">
            <div class="main22">
                <div class="main23">
                    <div class="list1">
                         @Html.TextBoxFor(model => model.Surname,  new { @class = "Surnametextfield", @placeholder = "Фамилия" })
                         @Html.TextBoxFor(model => model.Name ,new { @class = "Name-text-field", @placeholder = "Имя" })
                           
      @Html.TextBoxFor(model => model.Patronymic,new { @class = "Otchestvo-text-field", @placeholder = "Отчество" })
       @Html.TextBoxFor(model => model.PhoneNumber,new { @class = "NomerTelefona-text-field", @placeholder = "Номер телефона" })
                      @Html.TextBoxFor(model => model.ServiceName, new { @class = "Usluga-text-field", @placeholder = "Название услуги" })
                           @Html.TextBoxFor(model => model.MarkAndModel,new { @class = "NumAvto-text-field", @placeholder = "Марка Автомобиля" })
                  

                          </div>

                 
                      
                        
                      @Html.TextAreaFor(model => model.Addition, new {@class = "additions1"})
 
                       
             <h2 class="add">Опишите вашу проблему</h2>
               <input type="submit" value="Отправить" class="btn" />
     
       
        </div> </div> </div></div>
        <div class="img">


        </div>
       



   
   
     
    
 
   
  
        @* @Html.TextBoxFor(model => model.ServiceName, new { @class = "Usluga-text-field", @placeholder = "Название услуги" })*@
   
   
   
   
   
   
  
   
   
  
    
  
@*  
    
   
    @Html.EditorFor(model => model.Addition)
   *@
 


       
       
   
   <style>
       .img
       {
           position: absolute;
width: 654px;
height: 147px;
left: 163px;
top: 905px;

background: url(https://2.downloader.disk.yandex.ru/preview/bf36f6c47b6ae899611468ed6597f48c580957bb2424505657b61451754b6043/inf/nUh3tq9suOaPJoa2hV-IGvSIqjVUAimdyejAfa8FZE9oawP4EikIVgocStCqd4mTUfKTM2tt7E4jnRn2rMLuSA%3D%3D?uid=1409026565&filename=%D0%91%D0%B5%D0%B7%20%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-2.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1409026565&tknv=v2&size=1903x937);
       }
.maintextt
{
    position: absolute;
width: 645px;
height: 77px;
left: 605px;
top: 65px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 77px;

color: #000000;

}
 .benapromisun{
        
  margin-left:250px;
  transform: translate(-50%, -50%);
}

.benapromisun select {
  width: 500px;
  padding: 7px;
  height: 48px;
  border: none;
  border:1px solid black;
  font-family: 'Russo One', sans-serif;
  color: black;
  font-size: 19px;
  box-shadow: 0 5px 20px rgba(27, 26, 26, 0.39);
  outline: none;
}

.box::before {

  content: "\f150";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: black;
  font-size: 27px;
  background: #da00e0;
  pointer-events: none;
}

.benapromisun select option:hover {
  background: #19496d;
}
.benapromisun:hover {
  border:3px solid orange;
}

.box:hover::before {
  background: #0d5594;
}


       .NumAvto-text-field
       {
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 5;
flex-grow: 0;
       }
       .Usluga-text-field
       {
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
       }


.list1
       {display: flex;
flex-direction: column;
align-items: center;
padding: 0px 25px;
gap: 28px;


width: 283px;
height: 446px;


}
.NomerTelefona-text-field{
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
       }
.Otchestvo-text-field
       {
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
.Name-text-field{
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
       }
.Surnametextfield
       {
           width: 233px;
height: 51px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
.additions1
      {
          width: 334px;
height: 124px;

background: #D9D9D9;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
      }
.main23
       {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 41px;

width: 529px;
height: 700px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
.btn
       {
           display: flex;
flex-direction: row;
align-items: flex-start;
padding: 13px 66px;
gap: 10px;

width: 233px;
height: 50px;

background: #D9D9D9;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
       }

.main22
       {
           display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 41px;

width: 529px;
height: 400px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
.main21
       {
           display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 31px;

width: 529px;
height: 481px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
       .main2
       {
           display: flex;
flex-direction: column;
align-items: flex-start;
padding: 78px 136px;
gap: 10px;

position: absolute;
width: 801px;
height: 950px;
left: 881px;
top: 184px;

border:1px solid black;
       }
       .main1txt
       {
           margin-bottom:50px;
           width: 499px;
height: 39px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: black;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
       }
     .main1
     {
         display: flex;
flex-direction: column;
align-items: flex-start;
padding: 47px 74px;
gap: 10px;

position: absolute;
width: 647px;
height: 650px;
left: 166px;
top: 184px;

border:1px solid black;
     }
  
     
   </style>
   

}

